* {
    margin: 0;
    padding: 0;
}
body{
    background-image: url("imggg.png");
    
    background: cover;
}
.hdng { 


    align-items: center;
    justify-content: center;
    padding: 3vh;
    text-align: center;
    display: flex;
}
.inp{
    
    align-items: center;
    display: grid;

justify-content: center;

    padding: 2vh;
    font-size: 3vh;
    margin-bottom: 1vh;
    opacity:80%;
   
}

.line {

    justify-content: center;
    display: flex;
    padding: 2vh;
}
.but 
{ 
    padding:3vh;
    justify-content: space-between;
    margin-left: 2vh;
    font-size: 3vh;
    opacity: 75%;
    background-color:gray;
   color:black;
    
}